# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Data (ignore contents, keep folders)
data/raw_docs/*
data/processed/*
!data/raw_docs/.gitkeep
!data/processed/.gitkeep

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
